<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="7.14.22010.17001" targetFramework="net48" />
  <package id="RhinoCommon" version="7.14.22010.17001" targetFramework="net48" />
  <package id="Robots.Rhino" version="1.1.8" targetFramework="net48" />
</packages>